{% extends './base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'reviews/css/user_input.css' %}">
{% endblock css %}

{% block review_header %}
<div class="container">
    <h1>맛집 선택하기</h1>
</div>
{% endblock review_header %}

{% block content %}
<form method="post">{% csrf_token %}
    <div class="submit">
        <input type="submit" value="결과확인">
    </div>
    <div class="editor">
        <p id="restaurant">{{form.restaurant}}</p>
        {% for error in form.restaurant.errors %}
        <p class="error">{{error}}</p>
        {% endfor %}

        <p id="address1">{{form.address1}}</p>
        {% for error in form.address1.errors %}
        <p class="error">{{error}}</p>
        {% endfor %}

        <p id="address2">{{form.address2}}</p>
        {% for error in form.address2.errors %}
        <p class="error">{{error}}</p>
        {% endfor %}

        <p id="address3">{{form.address3}}</p>
        {% for error in form.address3.errors %}
        <p class="error">{{error}}</p>
        {% endfor %}
    </div>
</form>
{% endblock content %}

{% comment %} <script>
    $('#submit_btn').click(function () {
                let input1 = $('#restaurant').val();
                let input2 = $('#address').val();
                $.ajax({
                    url: {
                        %
                        url 'user_input_kakao'
                        review.id %
                    }, //보낼 유알엘 넣기
                    type: 'get',
                    data: {
                        'restaurant': input1,
                        'adress': input2
                    },
                    dataType: 'json',
                }).done(function (data) {
                    console.log(data);
                    //성공시 코드 짜기
                }).fail(function (err) {
                        console.log(err, "!!!!!!!!!!");
                    );
                } //버튼클릭이벤트 end
</script> {% endcomment %}